@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", sans-serif;
}

@layer base {
    :root {
        --text: #030401;
        --background: #ffffff;
        --primary: #386520;
        --secondary: #c1ebc8;
        --accent: #36ab47;
        --border: var(--border)
    }

    .dark {
        --text: #fdfefb;
        --background: #000000;
        --primary: #b2df9a;
        --secondary: #143e1b;
        --accent: #54c966;
    }
}


/* NavLink */
#dropdown .active {
    background-color: var(--accent);
    color: #ffffff;
}

/* Loader */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: var(--primary) transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}